.movies-card {
    display: block;
    max-width: 364px;
    max-height: 271px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    
}

.movies-card__header {
    display: flex;
    box-sizing: border-box;
    max-width: 364px;
    justify-content: space-between;
    align-items: center;
    max-height: 68px;
    padding: 14px;
}

.movies-card__header-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 89%;
}

.movies-card__header-text-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movies-card__header-text-time {
    margin-top: 9px;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
}

.movies-card__header-favorite {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 100ms ease-out;
    background-image: url(../../images/movies-card-fav-icon.svg);
}

.movies-card__header-favorite_saved {
    transition: 100ms ease-in;
    background-image: url(../../images/movies-card-fav-icon-save.svg);
}

.movies-card__header-favorite_delete {
    background-image: url(../../images/movies-card-fav-icon-del.svg);
}

.movies-card__img {
    max-width: 364px;
    width: 100%;
    height: 203px;
    object-fit: cover;
}

.movies-card__link:hover {
    opacity: 0.9;
    transition: 100ms ease-in;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .movies-card {
        max-height: 258px;
    }

    .movies-card__img {
        height: 190px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .movies-card {
        max-height: 236px;
    }

    .movies-card__img {
        height: 168px;
    }
}