.more {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.more_hidden {
    display: none;
}

.more__button {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    border: none;
    background-color: #F4F4F4;
    border-radius: 6px;
    cursor: pointer;
    transition: 150ms ease-out;
}

.more__button:hover {
    opacity: 0.8;
    transition: 150ms ease-in;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .more {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .more {
        padding-left: 10px;
        padding-right: 10px;
    }
}