.search {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 47px;
}

.search__form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: solid 1px #E8E8E8;
}

.search__form-input {
    width: 90%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding: 0;
    color: #A0A0A0;
    background-color: transparent;
    border: none;
}

.search__form-button {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: #3456F3;
    border-radius: 48px;
    padding: 0;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
    transition: 150ms ease-out;
}

.search__form-button:hover {
    opacity: 0.8;
    transition: 150ms ease-in;
}

.search__switcher {
    display: flex;
    margin-top: 32px;
}

.search__switcher-button {
    width: 36px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/search-switcher-on.svg);
    transition: 100ms ease-out;
}

.search__switcher-button_off {
    transition: 100ms ease-in;
    background-image: url(../../images/search-switcher-off.svg);
}

.search__switcher-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .search {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    
    .search__switcher {
        flex-direction: row-reverse;
        margin-top: 29px;
    }
    
    .search__switcher-button {
        margin-left: 16px;
    }
    
    .search__switcher-text {
        margin-left: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .search {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 84px;
        padding-bottom: 50px;
    }

    .search__form {
        padding-bottom: 9px;
    }

    .search__form-input {
        width: 75%;
        font-size: 18px;
        line-height: 22px;
    }

    .search__form-button {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .search__switcher {
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: 40px;
    }
    
    .search__switcher-button {
        margin-left: 13px;
    }
    
    .search__switcher-text {
        margin-left: 0;
    }
}